body {
    background-color: #1b1a20;
    color: white;
    width: 100%;
    font-size: 23px;
}

.div-formats {
    position: absolute;
    width: 15%;
    left: 44%;
    top: 460px;
}

.div-converter {
    position: absolute;
    width: 30%;
    left: 41%;
    top: 500px;
}

.url-input {
    width: 320px;
}

.convert-btn {
    position: absolute;
    top: 40px;
    right: 65%;
}

.div-footer {
    position: absolute;
    justify-content: center;
    bottom: 2%;
    left: 46%;
}

.div-footer a {
    text-decoration: underline;
    color: inherit;
}

.div-logo {
    position: absolute;
    right: 25%;
    top: 50px;
}

.logo {
    width: 80%;
}

