body {
    background-color: #1b1a20;
    color: white;
    font-size: 23px;
    display: block;
}

.div-logo {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 35%;
}

.div-formats {
    margin: 0 auto;
    text-align: center;
}

.div-converter {
    margin: 0 auto;
    text-align: center;
    margin-top: 4px;
}

.url-input{
    width: 300px;
}

.convert-btn {
    margin-top: 10px;
}

.div-footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.div-footer a {
    text-decoration: underline;
    color: inherit;
}

